<nav>
    <div class="app-title">
        <a href="/"><h1>Node Blogs</h1></a>
        <p>The Node Blogs Posts</p>
    </div>
    <ul>
        <li><a href="/"><h2>Blogs</h2></a></li>
        <li><a href="/about"><h2>About</h2></a></li>
        <li><a href="/blogs/new"><h2>New Blog</h2></a></li>
    </ul>
</nav>