<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="app-content about">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem placeat, nesciunt, doloremque nemo tenetur ab enim qui eius commodi dignissimos dicta consequuntur repellat odio rerum maiores repudiandae minima amet obcaecati pariatur distinctio et tempore laboriosam animi! Ducimus voluptas illo repellendus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem placeat, nesciunt, doloremque nemo tenetur ab enim qui eius commodi dignissimos dicta consequuntur repellat odio rerum maiores repudiandae minima amet obcaecati pariatur distinctio et tempore laboriosam animi! Ducimus voluptas illo repellendus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem placeat, nesciunt, doloremque nemo tenetur ab enim qui eius commodi dignissimos dicta consequuntur repellat odio rerum maiores repudiandae minima amet obcaecati pariatur distinctio et tempore laboriosam animi! Ducimus voluptas illo repellendus.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>